.input {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  margin-bottom: 20px;
  background: #dbe2ef;
  border-radius: 5px;
  padding-right: 10px;
  &_label {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 15px;
    cursor: pointer;
  }
  &_checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &_title {
    padding: 5px;
    line-height: 1.2;
  }

  &_btn {
    display: block;
    height: 100%;
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    padding: 0;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }

  &_title_edit {
    font: 1rem/1em 'Roboto', sans-serif;
    border: none;
    padding: 5px;
    background: none;
    box-shadow: 0 4px 0 -3px #3f72af;
  }

  &_edit {
    background-image: url('./images/edit.svg');
  }
  &_remove {
    background-image: url('./images/trash.svg');
  }
  &_save {
    background-image: url('./images/check.svg');
  }
}
